

#button{

    padding: 10px;
    width: 120px;
    /* color: white; */
    background-color: FireBrick;
    border: none;
    justify-content: right;
  }



  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: bottom;
    height: auto;
    /* width: 80%; */
    /* background-color: aqua; */
    margin-left: 100px;
    margin-right: 100px;
  }

  .box {
    background-color: white;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 10px;
  }
  .boxs {
    background-color: white;
    border: 2px solid black;
    text-align: center;
    margin-bottom: 10px;
  }

  .headerBox {
    background-color: white;
    padding-top: 0px;
    margin-bottom: 10px;
    border: 2px solid black;
    width: 100%;
    height: 400px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
    text-align: center;
    /* padding-top: 70px;
    margin-bottom: 10px; */
    border: 2px solid black;
  }


  .menuBox {
    background-color: white;
    border: 2px solid black;
    padding: 7px;
    margin: 10px;
    /* width: 100%; */
    /* height: 100px; */
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }


  /* ...............................slide image............................ */
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 70%; /* adjust to fit your design */
    overflow: hidden;
  }

  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .hero-image:first-child {
    opacity: 1;
  }



/* ..............................middlebox............................ */
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
  }

  .row .column {
    padding: 3px;
    float: center;
    justify-content: center;
    justify-items: center;
    width: 22%;
    height: 110%;
    /* margin-bottom: 2px; */
    /* padding: 0 8px; */
  }

  /* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 260px;
  width: 80%;
}



.column1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 260px;
  width: 100%;
}

  .column2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 290px;
    width: 40%;
    margin-bottom: 10px;
}

.column3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 290px;
  width: 40%;
  margin-bottom: 10px;
}


  .nav {
    text-align: center;
    margin-top: 20px;
  }

  .prev, .next {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

  .prev:hover, .next:hover {
    background-color: #ddd;
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .hidden {
    display: none;
  }


  /*......................................................  */

  .middlebox {
        background-color: white;
        padding-top: 10px;
        /* text-align: center; */
        margin: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* vertical-align: text-bottom; */
        /* height: 170px; */
      }

/* ............................................................................................................ */
      .social-icons {
        display: flex;
        /* margin: 70px; */
        margin: 5px;
        justify-content: center;
        align-items: center;
      }

 
     /*...................................................................................................  */


  .header {
    display: flex;
    align-items: left;
  }

  .header-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container1 {
    display: flex;
    flex-direction: column;
  }

  .middlebox1 {
    width: 500px;
    height: 250px;
    margin-left: 10px;
  }

  .middleboxes2 {
    width: 200px;
    height: 118.5px;
    margin-left: 10px;
  }


  .middleboxes3 {
    width: 100px;
    height: 52px;
    margin-left: 10px;
  }


  .middlebox4 {
    width: 300px;
    height: 250px;
    margin-left: 10px;
    /* overflow: hidden; */
  }

  .scrollable-text {
    /* width: 100%; */
    height: 60%;
    overflow: auto;
  }

  /* .footerbox {
 
    height: 400px;
  } */

  .inner-box {
    width: 145px;
    height: 70px;
    background-color: white;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    /* flex-direction: row; */

  }


    /* -------------------hover dropdown--------------- */
  .dropbtn {
    background-color: white;
    color: rgb(146, 28, 146);
    width: 110px;
    height: 50px;
    /* padding: 12px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fc96f7;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(146, 28, 146)}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: white;
  }



/* ...................................counsil.............................. */

  .box21 {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    
  }

  /* .inner-box1 {
    width: 450px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
    margin: 5px;
    text-size-adjust: 0.5px;


  } */
  .box22 {
    width: 100%;
    height: 100px;
    /* display: flex; */
    /* justify-content: left; */
    /* flex-wrap: wrap; */
    text-align: center;
    color: rgb(146, 28, 146);
    font-size: 30px;
  }

  .inner-box1 {
    width: 560px;
    height: 700px;
    background-color: white;
    border: 2px solid black;
    margin: 20px;
    text-size-adjust: 0.5px;
    padding: 10px;
    /* text-align: bottom; */
    /* flex-direction: row; */

  }

  .box24 {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    
  }

  .box25 {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    
  }

  .box25 {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    
  }

/* ....................................................... */



  .box23 {
    width: 1150px;
    height: 500px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  .inner-box2 {
    width: 400px;
    height: 150px;
    background-color: white;
    border: 2px solid black;
    margin: 5px;
    /* text-align: bottom; */
    /* flex-direction: row; */

  }
  /* .....................Form................... */
      /* body {
      background-color: lightblue;
      } */

      body {
        position: relative;
        margin-bottom: 100px;
      }

      footer {
        position: absolute;
        /* bottom: 0; */
        width: 100%;
        height: 90px;
        border: 2px solid black;
        text-align: center;
        background-color: #706767;
      }


      .text{

      height: 20px;
      border-radius: 5px;
      padding: 2px;
      border: solid thin #aaa;
      width: 90%;
      }

      #top-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 40%; */
        height: 10%;
      }

      #top-image1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 40%; */
        height: 30%;
        margin-bottom: auto;
      }
      .name {
        display: block;
        
      }

    .bottom-row img {
      width: 40%;
      height: 200px; 
  }

  .bottom-row2 img {
    width: 20%;
    height: 400px;
    margin-bottom: 10px;
}

.bottom-row1 img {
  width: 24%;
  height: 280px;
  margin-bottom: 15px;
}

.bottom-row3 img {
  width: 40%;
  height: 200px; 
}
   /* img {
        overflow-clip-margin: content-box;
        overflow: clip;
    }    */
      #button{

      padding: 10px;
      width: 120px;
      color: white;
      background-color: FireBrick;
      border: none;
      }

      .formbox{

      background-color: AliceBlue;
      margin: auto;
      width: 300px;
      padding: 20px;
      }

/* ........................................ */


#pdf-container {
  margin-top: 20px;
  display: none;
}

#pdf-container iframe {
  width: 100%;
  height: 500px;
  border: none;
}
